   /* responsive home */
.nav{
   display: block;
   width: 200px;
   height: auto;
   text-align: center;
   margin: 0 auto;
   transition:.9s;
   overflow: hidden;
}
.nav nav{
   padding: 10px;
   transition:.8s;
}
.toggleNav{
  display: block;
  position:absolute;
  top: 0;
  right: 30px;
}
.toggleNav h1{
   padding: 0;
   margin: 0;
   color: white;
   font-size: 38px;
   cursor: pointer;
   
}
.section{
width: 100%;
height: auto;
box-sizing: border-box;
background: rgb(224, 140, 140);
display: block;
}
.heading{
   display: inline-block;
   padding: 0 20px;
}



            /* responsive footer */
.footer{
background: rgb(252, 249, 249);
color: black;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.section1{
   padding: 10px;
   color: black;
   width: auto;
 }
/* 
 .tagline{
width: 100%;
height: 500px;
color: #f00;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
   
 */












        /* responsive about */

.aboutSec1{
display: block;
text-align: center;
}
.ownerLogo2{
display: block;
margin: 0 auto;
}

.aboutpara {
text-align: center;
}
.aboutSec2 h2{
 color: rgb(209, 73, 10);
 margin: 20px 0 50px;
 display: inline-block;
 padding:2px 20px;

}
.cardItem{
   height: 250px;
}
.cardItem h2{
   margin: 0;
}

        /* responsive gallery */




        /* responsive contact */





        /* responsive playlist */

