/* css */

body{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container
{  
width: 100%;
min-width: 360px;
height: auto;
padding: 0;
margin: 0;
font-family: sans-serif;
}
.main{
width: 100%;
height: fit-content;
background-image: linear-gradient( rgba(240, 182, 182, 0.5), rgb(255, 251, 251)80%);
/*
url('https://cdn4.iconfinder.com/data/icons/developer-set-3/128/code-512.png')
*/
background-size: 400px;
background-position: right center;
padding-bottom: 50px;
}
.section{
width: 100%;
display: flex;
height: auto;
justify-content: space-around;
flex-wrap: wrap;
box-sizing: border-box;
background: rgb(255, 255, 255);
position: sticky;
z-index: 1;
top: 0;
}

.heading{
font: bold 38px arial;
margin: 0;
padding: 0;
color: #ee3e3e;
word-spacing: -5px;
letter-spacing: 5px;
cursor: pointer;
}
/* .default{
   text-decoration: none;
   color: white;

} */


.nav{
width: 50%;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: nowrap;
}
.toggleNav{
   display: none;
}

.nav nav a {
text-decoration: none;
font: 20px sans-serif;
text-transform: capitalize;
color: rgb(241, 157, 157);
}

.b-border{
border-bottom: 4px solid rgb(247, 168, 168);
}

.tagline{
width: 100%;
height: 500px;
/* color: #f00; */
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.homeH1{
font: 48px verdana, geneva;
margin: 0 auto;
padding: 10px;
box-sizing: border-box;
text-align: center;
color: rgb(223, 25, 25);
}

.homeP{
   font-family: sans-serif;
   font-size: 28px;
   color: rgb(32, 226, 226);
   /* text-transform: capitalize; */
   text-align: center;
}
.subscribe{
color: red;
background: white;  
border: none;
outline: none;
font-size: 18px;
padding: 4px 20px;
text-align: center;
border-radius: 30px;
box-shadow: 5px -4px 6px -2px rgb(236, 150, 150),  -3px 4px 10px -2px rgb(39, 37, 37);
}
/* .subscribe:hover{

} */

            /* footer section starts here */

.footer{
background: rgb(252, 249, 249);
color: black;
display: flex;
justify-content: space-evenly;
}

.section1{
padding: 10px;
color: black;
width: 30vw;
}

.img-container{
width: fit-content;
height: auto;
padding: 0;
}

.logo{
width: 50px;
height: 50px;
margin: 2px auto;
display: block;
border-radius: 50%;
box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
}
.logoText{
padding: 0;
margin:2px;
text-align: center;
color: rgb(87, 199, 233);
letter-spacing: 10px;
}

.aboutPara{
width: 100%;
}

.section2{
color: black;
padding: 10px;
width: 30vw;
text-align: center;

}

.visit{
list-style-type: none;
text-align: center;
margin-top: 5px;
}
.visit a{
text-decoration: none;
color: black;
}
.visit::before{
content: '> ';
color:rgb(255, 60, 0);
}
.section3{
color: white;
width: 40vw;
}

.owner{
color: rgb(8, 7, 7);
padding: 10px;
box-sizing: border-box;
text-align: center;
}

.ownerLogo{
width: 200px;
height: 200px;
margin: 0 auto;
padding: 0;
display: block;
border-radius: 50%;
}

.ownerText{
color: rgb(8, 8, 8);
font-weight: bold;
}
.owner-container{
width: auto;
height: auto;
text-align: center;
}

         /* footer section ends here  */
.main-about{
width: 100%;
height: auto;
background-color: #fff;
}

.ownerLogo2{
width: 200px;
height: 200px;
display: block;
border-radius: 50%;
}

.aboutSec1{
width: 100%;
height: fit-content;
box-sizing: border-box;
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 100px;
}

.aboutpara h3{
margin: 0;
padding: 0;
white-space: nowrap;
color: rgb(228, 119, 105);
font-size: 2em;
text-align: center;
}

.aboutpara{
width: auto;
color: rgb(10, 10, 10);
font-size: 24px;
text-align: left;
}

.aboutpara p{
   min-width: 100%;
   max-width: 500px;
}

.aboutSec2{
width: 100%;
height: auto;
margin: 50px 0 100px 0;
text-align: center;
}

.aboutSec2 h2{
color: rgb(209, 73, 10);
margin: 20px 0;
display: inline-block;
padding:2px 20px;
border-width: 0 2px 0;
border-style: solid;
border-color: black;
}

.service-cards{
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}

.service-cards ul{
list-style-type: none;
text-align: left;
text-transform: uppercase;
line-height: 2;
}

.cardItem{
width: 200px;
padding: 10px;
margin: 10px;
cursor: pointer;
background-color: white;
transition: all .003s;
}

.service-cards .cardItem {
box-shadow: 6px 6px 10px -10px rgb(141, 132, 132),
            -6px -6px 10px -10px rgb(235, 151, 151);
}

.cardItem h2{
background:orange;
border-radius: 10px;
border: none;
margin: 0;
}

.aboutSec3{
width: 100%;
height: auto;
text-align: center;
box-sizing: border-box;
}
.aboutSec3 h2{
color: rgb(225, 89, 6);
margin: 20px 0 50px;
display: inline-block;
padding:2px 50px;
text-align: center;
text-transform: uppercase;
border-width: 0 2px 0;
border-style: solid;
border-color: black;
}
.profile-cards{
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
justify-content: space-around;
padding: 20px;
/* background-color:white; */
}
.profile-cards .cardItems{
width: 100px;
height: auto;
}
.profile-cards .cardItems h4{
border-radius: 20px;
visibility: hidden;
}
.cardItems:hover h4 {
background-color: white;
text-shadow: 0px 0px 3px -5px rgb(248, 240, 240);
color: white;
visibility: visible;
color: tomato;
box-shadow: 0px 5px 20px 1px rgb(247, 243, 243);
}
.profile-cards .cardItems img{
display:block;
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
}
.profile-cards .cardItems img:hover{
background-color: #fff;
box-shadow: 0px 5px 20px 1px #fff;}

   /* about page ends here */

.playlistSec2{
padding: 10px;
}
.intro-para{
width: 60%;
}
.content{
width: 80%;
height: auto;
padding: 10px;
display: flex;
margin: 100px auto;
justify-content: space-evenly;
align-items: flex-start;
background-color: white;
}
.box1 {
   width: 400px;
   height: auto;
   text-align: center;
   
}
.box2 button{
background-color: rgb(249, 252, 252);
border: 3px solid teal;
outline: none;
color: rgb(19, 17, 17);
font-size: 18px;
padding: 2px 10px ;
margin: 30px 10px;
border-radius: 5px;
transition: .03s;
}
.box2 button:hover{
background-color: rgb(9, 160, 160);
border: 3px solid rgb(9, 163, 163);
color: white;
border-radius: 5px;

}
.box1 .img-con {
width: 400px;
height: 400px;
background-color: white;
border-radius: 10px;
}
.box1 .img-con img{
width: 400px;
height: 400px;
border-radius: 10px;
}
.box2{
width: auto;
height: auto;
text-align: center;
position: relative;
}
.box2 p{
width: 70%;
text-align: left;
margin: 0 auto;
}
.box2 h1{
color: rgb(15, 92, 15);
}

      /* playlist section ends here  */

.g-Banner{
background-image: linear-gradient(to right, rgb(238, 183, 183) ,rgb(96, 139, 96));
height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.bannerH1{
text-align: center;
color: white;
margin: 0;
font-size: 48px;
}

.bannerP{
width: 60%;
margin: 0 auto;
text-align: center;
color: rgb(239, 243, 242);
font: none normal normal sans-serif;
}
.sliderdiv{
width: 100%;
height: auto;
padding: 0;
margin: 0;

}
.slider{
width: 100%;
height: 500px;
border-top: 2px solid rgb(31, 27, 27);
border-bottom: 2px solid rgb(22, 19, 19);
background: white;
margin: 50px 0 0;
padding: 0;

}
.slide0{
width: 100%;
height: 100%;
margin: 0;
padding: 0;

}
.slide0 h3{
margin: 0;
height: 50px;
text-align: center;
line-height: 50px;
font: bolder 30px arial;
}
.flex{
height: 400px;
display: flex;
justify-content: space-around;
align-items: center;

}


.preBtn, .nextBtn{
border: none;
outline: none;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
font-size: 48px;  
text-align: center;
line-height: 50px;
color: red;
}
.preBtn:hover, .nextBtn:hover{
   background: rgb(145, 145, 21);
   color: white;
}
.gImgCont{
width: 50%;
height: 90%;
box-sizing: border-box;

}
.gImg{
display: block;
width: 100%;
height: 100% ;
box-sizing: border-box;
transition: all .2s ease;
}
.circles {
display: flex;
justify-content: center;
align-items: center;
height: 50px;
box-sizing: border-box;

}
.cx{
width: 10px;
height: 10px;
border: 1px solid black;
margin: 2px ;
}
